@model EdgeRealEstate.Entities.OrderJob
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}
<br />
<h3 style="text-align:center">أمر شغل</h3>
<h4 dir="rtl">هل أنت متأكد من أنك تريد حذف هذا الامر ؟</h4>
<div class="form-horizontal" dir="rtl">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.Label("الكود", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        @Html.Label("انشاء عقد", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.IsCreateContract)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.OrderJobCode, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.Label("كود امر الشغل", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.contractor.ARName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.Label("المقاول", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.MainProject.Aname, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.Label("المشروع الرئيسى", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Engennering.Aname, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.Label("المهندس القائم بالاستلام", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Engennering1.Aname, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.Label("المهندس القائم بالاشراف", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Projects.Aname, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.Label("المشروع الفرعى", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.SpecialNote, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.Label("مواصفات خاصة", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.Label("ملاحظات", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-primary" /> |
            @Html.ActionLink("رجوع", "Index")
        </div>
    }
</div>

<div id="partial">@{Html.RenderAction("Editing_CustomForDelete");}</div>
