@model EdgeRealEstate.Entities.Message

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MessageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
