@model EdgeRealEstate.Entities.LKAccount

@{
    ViewBag.Title = "create LKAccount";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}
<br />
<h3 style="text-align:center">الحساب</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" dir="rtl">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ARName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ARName, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ARName, "الاسم العربى", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ENName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ENName, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ENName, "الاسم الانجليزى", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Description, "ملاحظات", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-primary" /> |
                @Html.ActionLink("رجوع", "Index")
            </div>
        </div>
        @if (ViewBag.msgg == 1)
        {
            <div class="form-group">
                <div class="alert alert-success alert-dismissable fade-in" id="success-alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>تم الحفظ بنجاح</strong>
                </div>
            </div>
        }
    </div>
}
<script>
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
</script>




