@model EdgeRealEstate.Entities.CustPaperPayment

@{
    ViewBag.Title = "create PaperPayment";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}
<br />
<h3 style="text-align:center">سند صرف نقدية عميل</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" dir="rtl">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.customerId, (SelectList)ViewBag.Customers, "اختر", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.customerId, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.customerId, "العميل - المورد", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.empId, (SelectList)ViewBag.Employees, "اختر", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.empId, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.empId, "الموظف مدخل البيانات", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.salesManId, (SelectList)ViewBag.SalesMans, "اختر", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.salesManId, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.salesManId, "المندوب", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.paidMethod, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.paidMethod, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.paidMethod, "طريقة الدفع", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.paid, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.paid, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.paid, "المدفوع", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.refType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.refType, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.refType, "نوع المرجع", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @(Html.Kendo().DatePicker().Name("indate").Format("yyyy/MM/dd").Min(DateTime.Today.AddDays(1)).HtmlAttributes(new { @class = "form-control" }))
                @Html.ValidationMessageFor(model => model.indate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.indate, "فى تاريخ", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.notes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.notes, "ملاحظات", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-primary" /> |
                @Html.ActionLink("رجوع", "Index")
            </div>
        </div>
        @if (ViewBag.msgg == 1)
        {
            <div class="form-group">
                <div class="alert alert-success alert-dismissable fade-in" id="success-alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>تم الحفظ بنجاح</strong>
                </div>
            </div>
        }
    </div>
}
<script>
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
</script>




