@model PagedList.IPagedList<EdgeRealEstate.Entities.PaymentSystems>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index LKTitle";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<br />
<h3 style="text-align:center">انظمة السداد</h3>
<div>
    <table class="table" dir="rtl">
        <tr>
            <td>
                    <a href="@Url.Action("Create", "PaymentSystems")" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    @foreach (var item in Model)
                    {
                        <a href="@Url.Action("Edit", "PaymentSystems", new { id = item.id })" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="@Url.Action("Delete", "PaymentSystems", new { id = item.id })" class="btn btn-primary">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    }
                </td>

        </tr>

    </table>
</div>
<div class="form-horizontal" dir="rtl">
    @foreach (var item in Model)
    {
        <div class="form-group">

            <div class="col-md-10">
                @Html.DisplayFor(modelItem => item.id, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.Label("الكود", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DisplayFor(modelItem => item.ARName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.Label("الاسم العربى", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DisplayFor(modelItem => item.ENName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.Label("الاسم الانجليزى", htmlAttributes: new { @class = "control-label col-md-2" })

        </div>
    }
</div>

<div dir="rtl">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>


